<!DOCTYPE html>
<html>
<head>
<% include partials/head %>
</head>
<body>
    <% if(!user){ %>
    <h1>Welcome to HealthView</h1>
    <p id="intro">One program to manage your patient information, appointments, and session notes. Keep track of all your data in one place!</p>
    <% include /partials/login %>
    <% } else { %>
      <% include /partials/userbar %>
      <h1>Welcome, <%= user.name %></h1>
      <div class="main-container">
        <a href="/patient/new"><button id="create-user">Add a Patient</button></a>
        <div id="appointment-column">
          <h2 id="appt-header">Appointments:</h2>
          <h3 id="date-spot"></h3>
          <button id="check-date">Check Another Date</button>
          <form id="date-search-form">
            <input id="date-input" type="text" name="date-search">
            <input id="date-submit" type="submit" name="Check date">
          </form>
          <span id="date-search-close">x</span>
          <% if (patientObject) { %>
            <% patientObject.forEach(function(patient){ %>
              <div class="appt-patient">
                <a href="/patient/<%=patient._id%>" ><p class="check-in-name"><%= patient.name %></p></a>
                <button class="check-in-button" id="<%= patient._id %>">Check in</button><br>
              </div>
            <% }) %>
          <% } %>
        </div>
        <div id="notes-column">
        <h2>Needs Notes:</h2>
        <div id="spaceholder"></div>
          <% if (allNeedNotes) { %>
            <% allNeedNotes.forEach(function(patient){ %>
              <div class="notes-patient">
                <a href="/patient/<%=patient._id%>" ><p class="add-note-name"><%= patient.name %></p></a>
                <button class="add-note-button" id="<%= patient._id %>">Add a Note</button><br>
              </div>
            <% }) %>
          <% } %>
        </div>
      </div>
        <div class="notes-modal">
          <div class="notes-modal-content">
            <span class="notes-close">x</span>
            <h2>Add note:</h2>
            <form class="notes-form" action="" method="">
              <label for="">Notes:</label>
              <input id="note-box" type="text" name="add-note">
              <input id="notes-submit" type="submit" value="Add Note to Chart">
            </form>
          </div>
        </div>
        <div class="date-modal">
          <div class="date-modal-content">
            <span class="date-close">x</span>
            <h2>Appointments:</h2>
          </div>
        </div>
    <% } %>
</body>
</html>
