<!DOCTYPE html>
<html>
<head>
<% include ../partials/head %>
</head>
<body>
  <% include ../partials/userbar %>
  <div class="patient-column">
  <h2>Patient Information</h2>
  <h3>Name: <%= patientInfo.name %></h3>
  <h3>Phone: <%= patientInfo.phone %></h3>
  <h3>Diagnosis: <%= patientInfo.diagnosis %></h3>
  <h3>Appointments:</h3>
  <button id="schedule-button">Schedule an Appointment</button>
  <% if (patientInfo.appointments) {patientInfo.appointments.forEach(function(appt){ %>
    <p><%= appt %></p>
  <% })} %>
  </div>
  <div class="notes-column">
  <h3>Notes:</h3>
  <% if (patientInfo.notes) {patientInfo.notes.forEach(function(note){ %>
    <div class="note-box">
      <p><%= note %></p>
    </div>
  <% })} %>
  </div>
  <div class="schedule-modal">
    <div class="schedule-modal-content">
      <span class="schedule-close">x</span>
      <h3>Schedule appointment for <%= patientInfo.name %></h3>
      <form id="schedule-form" action="" method="">
        <label for="">Date:</label>
        <input id="schedule-date" type="text" name="appointment">
        <input type="submit" class="button" value="Make an Appointment">
      </form>
    </div>
  </div>
</body>
</html>
